language: python
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
- pypy
install:
- pip install -U pip wheel tox-travis codecov
script: tox
deploy:
  provider: pypi
  user: figo
  password:
    secure: eUed0HUoykbVI+5RNjWpgP3WAKl1zO9JvTMsJa2fbrV2VaBISBTahPo7VXIFHqswdSb0aLac9PEKZHI30Xvvnm3lgSrgruBCJU7TAYgbCxBXiJjYz+qObQy5xL4gfpnvoOj5Ufd9TbHM0a9W3cKixevzCNlzobEWilucSCo106c=
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: '3.5'
    all_branches: true
after_success:
- codecov
